/* Global Style */
* {
    font-family: 'Courier New', Courier, monospace;
    color: snow;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

/* Navigation */
nav {
    background: linear-gradient(90deg, rgb(40, 40, 40), rgb(20, 20, 20));
    width: 100%;
    height: 60px;
    white-space: nowrap;
    position: fixed;
    top: 0;
    border-top: black 4px solid;
}

nav div {
    margin: 20px auto;
    width: fit-content;
}

nav a {
    font-style: normal;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
}

nav a:hover {
    background-color: rgb(55, 55, 55);
    border: 2px solid rgb(200, 200, 200);
    padding: 6px 14px;
}

/* Banner */
header {
    background-image: url('images/mananLambo.png');
    background-size: cover;
    background-position-y: center;
    height: 400px;
    border-top: 4px black solid;
    margin-top: 28px;
    margin-bottom: 30px;
    position: sticky;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .banner-name {
    font-size: 6.7vw;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 80px;
    width: 35vw;
    word-wrap: break-word;
    text-shadow: 8px 8px 0px black;
}

header .banner-description {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4vw;
    font-weight: 200;
    position: absolute;
    right: 80px;
    width: 21vw;
    text-shadow: 0px 0px 5px white;
}

/* Main Content */
main div {
    background: linear-gradient(90deg, rgb(40, 40, 40), rgb(20, 20, 20));
    border-top: black 4px solid;
    position: sticky;
    top: 60px;
    height: 368px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
    max-height: 340px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

p::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

section {
    width: 50%;
    margin: 32px auto;
}

embed {
    margin: 32px auto;
    height: 300px;
}

/* Footer */
footer {
    background-color: rgb(55, 55, 55);
    height: 88px;
    border-top: black solid 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Classes */
.info-left {
    text-align: left;
    margin-left: 32px;
}

.info-right {
    text-align: right;
    margin-right: 32px;
}

.img-right {
    position: absolute;
    right: 32px;
    top: 0;
}

.img-left {
    position: absolute;
    left: 32px;
    top: 0;
}

.credits {
    min-width: 100px;
    max-width: 250px;
    text-align: center;
    margin: 34px auto;
}
