/* Global Style */
* {
    font-family: 'Courier New', Courier, monospace;
    color: snow;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url("fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

/* Navigation */
nav {
    background: linear-gradient(100deg, rgb(0, 0, 0) 23.95%, rgb(85, 0, 0));
    width: 100%;
    height: 3.75rem; /* 60px */
    white-space: nowrap;
    position: fixed;
    top: 0;
    border-top: black 0.25rem solid; /* 4px */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    margin: 1.25rem auto; /* 20px */
    width: fit-content;
}

nav a, .social-button {
    font-style: normal;
    text-decoration: none;
    padding: 0.5rem 1rem; /* 8px 16px */
    border-radius: 0.375rem; /* 6px */
    background: none;
    border: none;
    color: snow;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-button {
    background: none;
    border: none; /* No border around the buttons */
    font-family: 'Courier New', Courier, monospace;
    color: snow;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    margin: 0 0.9375rem; /* 15px */
    border-radius: 0.5rem; /* 8px */
    font-size: 1.25rem; /* 20px */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

/* Hover effect without moving other elements */
.social-button:hover,
.social-button:focus {
    transform: translateY(-0.25rem); /* -4px */
    box-shadow: 0 0.5rem 0.5rem -0.25rem var(--hover-color); /* 0 8px 8px -4px */
    color: #fff;
}

:root {
    --github-color: #6284ff;
    --youtube-color: #ff0000;
    --instagram-color: #9100ff;
    --tiktok-color: #00ff2f;
    --hover-color: #fff;
}

.github { --hover-color: var(--github-color); }
.youtube { --hover-color: var(--youtube-color); }
.instagram { --hover-color: var(--instagram-color); }
.tiktok { --hover-color: var(--tiktok-color); }

/* Buttons From Uiverse.io */
.followBtn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.followBtn:active {
    scale: 0.92;
}

.followBtn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

.subBtn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}

.subBtn::before {
    position: absolute;
    content: "SUBSCRIBE";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
}

.subBtn:hover {
    background-position: right;
    transition-duration: 1s;
}

.subBtn:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.subBtn:active {
    transform: scale(0.95);
}
.snapchat-link {
    display: inline-block;
}

.snapchat-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #c8d51c;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.snapchat-btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.snapchat-btn:hover {
    padding: 10px 20px;
}

.snapchat-btn:hover svg {
    display: none;
}

.snapchat-text {
    opacity: 0;
    transition: opacity 0.3s;
}

.snapchat-btn:hover .snapchat-text {
    opacity: 1;
}

/* Banner */
header, .social-media-header {
    background-size: cover;
    background-position-y: center;
    height: 25rem; /* 400px */
    border-top: 0.25rem black solid; /* 4px */
    margin-top: 1.75rem; /* 28px */
    margin-bottom: 1.875rem; /* 30px */
    position: sticky;
    top: 3.75rem; /* 60px */
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-image: url('images/mananLambo.png');
}

.social-media-header {
    background-image: url('images/ytVideo.gif');
}

header .banner-name, .social-media-header .banner-name {
    font-size: 6.7vw;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 5rem; /* 80px */
    width: 35vw;
    word-wrap: break-word;
    text-shadow: 0.5rem 0.5rem 0rem black; /* 8px 8px 0px */
}

header .banner-description, .social-media-header .banner-description {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4vw;
    font-weight: 200;
    position: absolute;
    right: 5rem; /* 80px */
    width: 21vw;
    text-shadow: 0px 0px 0.3125rem white; /* 5px */
}

/* Main Content */
main div {
    background: linear-gradient(100deg, rgb(85, 0, 0), rgb(0, 0, 0) 75.63%);
    border-top: black 0.25rem solid; /* 4px */
    position: sticky;
    top: 3.75rem; /* 60px */
    height: auto;
    padding-bottom: 1.25rem; /* 20px */
}

h2 {
    font-size: 1.75rem; /* 28px */
}

p {
    font-size: 1.25rem; /* 20px */
    margin-top: 1.25rem; /* 20px */
    font-family: 'Inconsolata', monospace;
    max-height: 21.25rem; /* 340px */
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

p::-webkit-scrollbar
section {
    width: 50%;
    margin: 2rem auto; /* 32px */
}

embed {
    margin: 2rem auto; /* 32px */
    height: 18.75rem; /* 300px */
}

/* Footer */
footer {
    background: linear-gradient(100deg, rgb(0, 0, 0) 23.95%, rgb(85, 0, 0));
    height: 5.5rem; /* 88px */
    border-top: black 0.25rem solid; /* 4px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits {
    min-width: 6.25rem; /* 100px */
    max-width: 15.625rem; /* 250px */
    text-align: center;
    margin: 2.125rem auto; /* 34px */
}

/* Button Styles */
.button-container {
    text-align: center;
    margin: 1.25rem 0; /* 20px */
}

.fancy-button {
    --b: 0.1875rem;   /* border thickness (3px) */
    --s: .45em; /* size of the corner */
    --color: #b40000;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
            conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
            var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 1rem; /* 16px */
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.fancy-button:hover,
.fancy-button:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.fancy-button:active {
    background: var(--color);
    color: #fff;
}

@media (min-width: 48rem) { /* 768px */
    .fancy-button {
        font-size: 1.5rem; /* 24px */
        min-width: 12.25rem; /* 196px */
    }
}

/* Responsive Styles */
@media (max-width: 48rem) { /* 768px */
    header, .social-media-header {
        height: 15.625rem; /* 250px */
        background-size: cover;
    }

    header .banner-name,
    header .banner-description,
    .social-media-header .banner-name,
    .social-media-header .banner-description {
        position: static; /* Removes absolute positioning */
        width: 100%; /* Full width */
        text-align: center; /* Center the text */
        padding: 0.625rem; /* 10px */
    }

    .info-left, .info-right {
        text-align: center; /* Center text */
        margin: 1.25rem; /* 20px */
    }

    .img-right, .