body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

h2 {
    color: #4CAF50;
}

#introduction p {
    font-size: 1.2em;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

@keyframes example {
    0%   {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    100% {background-color: green;}
}

div.bg-change {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
